{% extends 'base.html.twig' %}

{% block title %}{{ 'browser_tab_title'|trans({}, 'about_me') }}{% endblock %}

{% block body %}
    <main class="container">

        <section class="about">
            <h2>{{ 'title'|trans({}, 'about_me') }}</h2>
            <article class="about__description">
                <p>{{ 'intro'|trans({}, 'about_me')|raw }}</p>
            </article>

            <aside class="about__details">
                <dl>
                    <dt>{{ 'age.title'|trans({}, 'about_me') }}</dt>

                    <dd>{{ 'age.value'|trans({'age': birthday|age}, 'about_me') }}</dd>
                </dl>
                <dl>
                    <dt>{{ 'residence.title'|trans({}, 'about_me') }}</dt>
                    <dd>{{ 'residence.value'|trans({}, 'about_me') }}</dd>
                </dl>
                <dl>
                    <dt>{{ 'email.title'|trans({}, 'about_me') }}</dt>
                    <dd>{{ 'email.value'|trans({}, 'about_me') }}</dd>
                </dl>
                <dl>
                    <dt>{{ 'phone.title'|trans({}, 'about_me') }}</dt>
                    <dd>{{ 'phone.value'|trans({}, 'about_me') }}</dd>
                </dl>
            </aside>
        </section>

        <section class="what-i-do">
            <h2 class="what-i-do__heading">{{ 'what_i_do.title'|trans({}, 'about_me') }}</h2>
            <article class="what-i-do__article">
                <span class="fas fa-code what-i-do__icon"></span>
                <h3 class="what-i-do__sub-heading">{{ 'what_i_do.web_app_dev.title'|trans({}, 'about_me') }}</h3>
                <p>{{ 'what_i_do.web_app_dev.content'|trans({}, 'about_me')|raw }}</p>
            </article>
            <article class="what-i-do__article">
                <span class="fas fa-hands-helping what-i-do__icon"></span>
                <h3 class="what-i-do__sub-heading">{{ 'what_i_do.app_design_support.title'|trans({}, 'about_me') }}</h3>
                <p>{{ 'what_i_do.app_design_support.content'|trans({}, 'about_me')|raw }}</p>
            </article>
            <article class="what-i-do__article">
                <span class="fas fa-tools what-i-do__icon"></span>
                <h3 class="what-i-do__sub-heading">{{ 'what_i_do.webapp_takeover.title'|trans({}, 'about_me') }}</h3>
                <p>{{ 'what_i_do.webapp_takeover.content'|trans({}, 'about_me')|raw }}</p>
            </article>
            <article class="what-i-do__article">
                <span class="fas fa-store-alt what-i-do__icon"></span>
                <h3 class="what-i-do__sub-heading">{{ 'what_i_do.showcase_website.title'|trans({}, 'about_me') }}</h3>
                <p>{{ 'what_i_do.showcase_website.content'|trans({}, 'about_me')|raw }}</p>
            </article>

        </section>
    </main>
{% endblock %}
