{% extends 'base.html.twig' %}

{% block title %}{{ 'browser_tab_title'|trans({}, 'portfolio') }}{% endblock %}

{% block body %}

    <main class="container">

        <section class="portfolio">
            <h2>{{ 'title'|trans({}, 'portfolio') }}</h2>
            <figure class="portfolio__item">
                <a href="{{ 'project.tikare.url'|trans({}, 'portfolio') }}" target="_blank">
                    <img src="{{ asset('build/images/tikare.png') }}">
                    <h3>{{ 'project.tikare.title'|trans({}, 'portfolio') }}</h3>
                    <p>{{ 'project.tikare.description'|trans({}, 'portfolio') }}</p>
                </a>
            </figure>
            <figure class="portfolio__item">
                <a href="{{ 'project.yoga_et_danse_therapy.url'|trans({}, 'portfolio') }}" target="_blank">
                    <img src="{{ asset('build/images/yoga.png') }}">
                    <h3>{{ 'project.yoga_et_danse_therapy.title'|trans({}, 'portfolio') }}</h3>
                    <p>{{ 'project.yoga_et_danse_therapy.description'|trans({}, 'portfolio') }}</p>
                </a>
            </figure>
            <figure class="portfolio__item">
                <a href="{{ 'project.cuisinesauvage.url'|trans({}, 'portfolio') }}" target="_blank">
                    <img src="{{ asset('build/images/cuisinesauvage.png') }}">
                    <h3>{{ 'project.cuisinesauvage.title'|trans({}, 'portfolio') }}</h3>
                    <p>{{ 'project.cuisinesauvage.description'|trans({}, 'portfolio') }}</p>
                </a>
            </figure>

        </section>

    </main>


{% endblock %}
