{% extends 'base.html.twig' %}

{% block title %}{{ 'browser_tab_title'|trans([], 'homepage') }}{% endblock %}

{% block body %}

    <main class="container">
        <section class="homepage">
            <h2 class="homepage__heading">{{ 'title'|trans({}, 'homepage') }}</h2>
            <h3 class="homepage__sub-heading">{{ 'subtitle'|trans({}, 'homepage')|raw }}</h3>
        </section>
    </main>

{% endblock %}
