* {
  box-sizing: border-box;
}

*:hover {
  transition: 0.3s ease-in-out;
}

html {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  margin: 0;
  background-color: $black;
  font-family: Verdana, Arial, sans-serif;
  color: $white;
  font-size: 14px;
  letter-spacing: 0.7px;
}

h2 {
  font-size: 2rem;
  width: 100%;
  margin-top: 0;
}

h3 {
  font-weight: bolder;
  font-size: 1.2rem;
}

h2, h3, h4, h5, h6 {
  font-variant: small-caps;
}

article {
  padding-right: 40px;
  margin-bottom: 50px;
}
p {
  line-height: 1.5rem;
  @include gotham-font;
}

a {
  text-decoration: none;
  color: $primary;
  &:hover {
    color: $secondary;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.small {
  font-size: 0.75rem;
}

.visible {
  display: block;
}

.primary {
  color: $primary;
}

.secondary {
  color: $secondary;
}
@media all and (max-width: 1024px) {
  body {
    letter-spacing: 0;
  }

  article {
    margin-bottom: 0;
    padding-right: 0;
  }
  .container {
    padding: 20px;
    margin: 50px 0 30px 0;
  }
  dt {
    padding-left: 0;
  }
}