@font-face {
  font-family: 'Gotham';
  src: url("../../fonts/gotham/gotham_book.ttf") format('truetype'),
  url("../../fonts/gotham/gotham_book.woff") format('woff'),
  url("../../fonts/gotham/gotham_book.otf") format('opentype'),
  url("../../fonts/gotham/gotham_book.eot") format('eot')
}