{% extends 'base.html.twig' %}

{% block title %}{{ 'browser_tab_title'|trans({}, 'curriculum') }}{% endblock %}

{% block body %}
    <main class="container">
        <h2>{{ 'title'|trans({}, 'curriculum') }}</h2>
        <section class="timeline">
            <article>
                <h3 class="timeline__heading">{{ 'education.title'|trans({}, 'curriculum') }}</h3>
                <div class="timeline__item">
                    <div class="timeline__item__left-part">
                        <h5>{{ 'education.developer.year'|trans({}, 'curriculum') }}</h5>
                        <span class="small">{{ 'education.developer.school'|trans({}, 'curriculum') }}</span>
                    </div>
                    <div class="timeline__item__divider"></div>
                    <div class="timeline__item__right-part">
                        <h4>{{ 'education.developer.title'|trans({}, 'curriculum')|raw }}</h4>
                        <p>{{ 'education.developer.content'|trans({}, 'curriculum') }}</p>
                    </div>
                </div>
                <div class="timeline__item">
                    <div class="timeline__item__left-part">
                        <h5>{{ 'education.engineer.year'|trans({}, 'curriculum') }}</h5>
                        <span class="small">{{ 'education.engineer.school'|trans({}, 'curriculum') }}</span>
                    </div>
                    <div class="timeline__item__divider"></div>
                    <div class="timeline__item__right-part">
                        <h4>{{ 'education.engineer.title'|trans({}, 'curriculum') }}</h4>
                        <p>{{ 'education.engineer.content'|trans({}, 'curriculum') }}</p>
                    </div>
                </div>
            </article>
            <article>
                <h3>{{ 'experience.title'|trans({}, 'curriculum') }}</h3>
                <div class="timeline__item">
                    <div class="timeline__item__left-part">
                        <h5>{{ 'experience.developer.year'|trans({}, 'curriculum') }}</h5>
                        <span class="small">{{ 'experience.developer.company'|trans({}, 'curriculum') }}</span>
                    </div>
                    <div class="timeline__item__divider"></div>
                    <div class="timeline__item__right-part">
                        <h4>{{ 'experience.developer.title'|trans({}, 'curriculum') }}</h4>
                        <p>{{ 'experience.developer.content'|trans({}, 'curriculum') }}</p>
                    </div>
                </div>
                <div class="timeline__item">
                    <div class="timeline__item__left-part">
                        <h5>{{ 'experience.iot_engineer.year'|trans({}, 'curriculum') }}</h5>
                        <span class="small">{{ 'experience.iot_engineer.company'|trans({}, 'curriculum') }}</span>
                    </div>
                    <div class="timeline__item__divider"></div>
                    <div class="timeline__item__right-part">
                        <h4>{{ 'experience.iot_engineer.title'|trans({}, 'curriculum') }}</h4>
                        <p>{{ 'experience.iot_engineer.content'|trans({}, 'curriculum') }}</p>
                    </div>
                </div>
                <div class="timeline__item">
                    <div class="timeline__item__left-part">
                        <h5>{{ 'experience.consulting_engineer.year'|trans({}, 'curriculum') }}</h5>
                        <span
                            class="small">{{ 'experience.consulting_engineer.company'|trans({}, 'curriculum') }}</span>
                    </div>
                    <div class="timeline__item__divider"></div>
                    <div class="timeline__item__right-part">
                        <h4>{{ 'experience.consulting_engineer.title'|trans({}, 'curriculum') }}</h4>
                        <p>{{ 'experience.consulting_engineer.content'|trans({}, 'curriculum') }}</p>
                    </div>
                </div>
            </article>
        </section>

        <section class="skills">
            <article class="skill">
                <h3>{{ 'skill.stack.title'|trans({}, 'curriculum') }}</h3>
                <div class="skill__value">
                    <div>{{ 'skill.stack.back.title'|trans({}, 'curriculum') }}</div>
                    <div>{{ 'skill.stack.back.value'|trans({}, 'curriculum') }}</div>
                </div>
                <div class="skill__bar">
                    <div class="skill__bar__percent" style="width: {{ 'skill.stack.back.value'|trans({}, 'curriculum') }}"></div>
                </div>
                <div class="skill__value">
                    <div>{{ 'skill.stack.front.title'|trans({}, 'curriculum') }}</div>
                    <div>{{ 'skill.stack.front.value'|trans({}, 'curriculum') }}</div>
                </div>
                <div class="skill__bar">
                    <div class="skill__bar__percent" style="width: {{ 'skill.stack.front.value'|trans({}, 'curriculum') }}"></div>
                </div>
                <div class="skill__value">
                    <div>{{ 'skill.stack.server.title'|trans({}, 'curriculum') }}</div>
                    <div>{{ 'skill.stack.server.value'|trans({}, 'curriculum') }}</div>
                </div>
                <div class="skill__bar">
                    <div class="skill__bar__percent" style="width: {{ 'skill.stack.server.value'|trans({}, 'curriculum') }}"></div>
                </div>
            </article>

            <article class="skill">
                <h3>{{ 'skill.back.title'|trans({}, 'curriculum') }}</h3>
                <div class="skill__value">
                    <div>{{ 'skill.back.php.title'|trans({}, 'curriculum') }}</div>
                    <div>{{ 'skill.back.php.value'|trans({}, 'curriculum') }}</div>
                </div>
                <div class="skill__bar">
                    <div class="skill__bar__percent" style="width: {{ 'skill.back.php.value'|trans({}, 'curriculum') }}"></div>
                </div>
                <div class="skill__value">
                    <div>{{ 'skill.back.symfony.title'|trans({}, 'curriculum') }}</div>
                    <div>{{ 'skill.back.symfony.value'|trans({}, 'curriculum') }}</div>
                </div>
                <div class="skill__bar">
                    <div class="skill__bar__percent" style="width: {{ 'skill.back.symfony.value'|trans({}, 'curriculum') }}"></div>
                </div>
                <div class="skill__value">
                    <div>{{ 'skill.back.api.title'|trans({}, 'curriculum') }}</div>
                    <div>{{ 'skill.back.api.value'|trans({}, 'curriculum') }}</div>
                </div>
                <div class="skill__bar">
                    <div class="skill__bar__percent" style="width: {{ 'skill.back.api.value'|trans({}, 'curriculum') }}"></div>
                </div>
            </article>

            <article class="skill">
                <h3>{{ 'skill.front.title'|trans({}, 'curriculum') }}</h3>
                <div class="skill__value">
                    <div>{{ 'skill.front.html_css.title'|trans({}, 'curriculum') }}</div>
                    <div>{{ 'skill.front.html_css.value'|trans({}, 'curriculum') }}</div>
                </div>
                <div class="skill__bar">
                    <div class="skill__bar__percent" style="width: {{ 'skill.front.html_css.value'|trans({}, 'curriculum') }}"></div>
                </div>
                <div class="skill__value">
                    <div>{{ 'skill.front.javascript.title'|trans({}, 'curriculum') }}</div>
                    <div>{{ 'skill.front.javascript.value'|trans({}, 'curriculum') }}</div>
                </div>
                <div class="skill__bar">
                    <div class="skill__bar__percent" style="width: {{ 'skill.front.javascript.value'|trans({}, 'curriculum') }}"></div>
                </div>
                <div class="skill__value">
                    <div>{{ 'skill.front.twig.title'|trans({}, 'curriculum') }}</div>
                    <div>{{ 'skill.front.twig.value'|trans({}, 'curriculum') }}</div>
                </div>
                <div class="skill__bar">
                    <div class="skill__bar__percent" style="width: {{ 'skill.front.twig.value'|trans({}, 'curriculum') }}"></div>
                </div>
                <div class="skill__value">
                    <div>{{ 'skill.front.ux.title'|trans({}, 'curriculum') }}</div>
                    <div>{{ 'skill.front.ux.value'|trans({}, 'curriculum') }}</div>
                </div>
                <div class="skill__bar">
                    <div class="skill__bar__percent" style="width: {{ 'skill.front.ux.value'|trans({}, 'curriculum') }}"></div>
                </div>
            </article>

        </section>

    </main>
{% endblock %}
