.btn {
  background-color: transparent;
  color: $white;
  font-size: 1rem;
  padding: 10px 30px 10px 30px;
  border: 2px solid $white;
  border-radius: 30px;
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, .3);
  cursor: pointer;
  &:hover {
    background: $white;
    color: $black;
  }
  &--primary {
    border-color: $primary;
    &:hover {
      background: $primary;
      color: $white;
    }
  }
}