.form {
  input, textarea {
    display: block;
    padding: 10px 12px;
    background-color: inherit;
    border: 2px solid $white;
    border-radius: 5px;
    color: $white;
    font-family: inherit;
    font-size: 14px;
    width: 100%;
  }

  label {
    line-height: 1.65rem;
  }

  ul {
    color: $danger;
    font-size: 0.75rem;
  }

  li {
    padding-bottom: 10px;
    line-height: 1rem;

    &:before {
      content: 'erreur';
      border: 2px solid $danger;
      border-radius: .25rem;
      color: $white;
      background-color: $danger;
      font-size: 0.6rem;
      text-transform: uppercase;
      text-align: center;
      margin-right: 5px;
    }
  }
}