.header {
  background-color: #444;
  min-width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 30px 45px 30px;
  height: 100%;
  text-align: center;
  &__my-picture {
    overflow: hidden;
    border-radius: 80px;
    width: 150px;
    min-height: 150px;
    border: 3px solid $white;
    img {
      max-width: 100%;
    }
  }
  &__heading{
    font-weight: 100;
    font-size: 2.2rem;
  }
  &__sub-heading {
    font-weight: lighter;
    padding-top: 0;
    margin-top: -0.5rem;
    font-size: 1rem;
    font-variant: initial;
    color: #bbb;
  }
  &__sub-sub-heading {
    font-weight: lighter;
    padding-top: 0;
    margin-top: -0.5rem;
    font-size: 0.8rem;
    color: #bbb;
  }
  &__social-links {
    display: flex;
    text-align: center;
    a {
      display: inline-block;
      margin: 3px;
      font-size: 1rem;
      height: 40px;
      min-width: 40px;
      line-height: 40px;
      border: 0;
      border-radius: 40px;
      &:hover {
        background-color: gray;
      }
    }
  }
  &__footer {
    height: 80%;
    display: flex;
    align-items: flex-end;
  }
}

@media screen and (max-width: 1280px)
{
  .header {
    min-width: 300px;
  }
}

@media all and (max-width: 1024px)
{
  .header {
    display: none;
  }
}