.nav__link {
  background-color: $black;
  border-bottom: 1px solid #333333;
  color: $white;
  text-align: center;
  line-height: 1.5rem;
  font-size: 0.7rem;
  width: 86px;

  a {
    padding: 20px 10px 20px 10px;
    color: $white;
    text-decoration: none;
    display: block;

    &:hover {
      color: $primary;
    }
  }
}

.nav__link a.reverse-hover:hover {
  color: $secondary
}

.wrapper {
  position: absolute;
  width: 48px;
  height: 48px;
  line-height: 46px;
  text-align: center;
  background-color: $primary;
  right: 10px;
  font-size: 19px;
  top: 10px;
  border-radius: 30px;
  transform: rotate(0deg);
  transition: .2s ease-in-out;
  cursor: pointer;
  z-index: 900;
  display: none;

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    background: $white;
    border-radius: 5px;
    opacity: 1;
    left: 25%;
    transform: rotate(0deg);
    transition: .1s ease-in-out;

    &:nth-child(1) {
      top: 16px;
      transform-origin: left center;
    }

    &:nth-child(2) {
      top: 22px;
      transform-origin: left center;
    }

    &:nth-child(3) {
      top: 28px;
      transform-origin: left center;
    }

  }
}

.visible {
  display: block;
}


@media all and (max-width: 1024px) {
  .nav {
    display: flex;
    position: absolute;
    right: 0;
    opacity: 0.90;
    align-items: center;
    height: 100%;
  }
  ul {
    display: none;
  }

  .nav__link {
    border: none;
  }
  .wrapper {
    display: block;
  }

  .wrapper.open {
    span:nth-child(1) {
      transform: rotate(45deg);
      top: 13px;
      left: 15px;
    }

    span:nth-child(2) {
      width: 0;
      opacity: 0;
    }

    span:nth-child(3) {
      transform: rotate(-45deg);
      top: 30px;
      left: 15px;
    }
  }

}


