{% extends 'base.html.twig' %}
{% form_theme contactForm _self %}

{% block title %}{{ 'browser_tab_title'|trans({}, 'contact') }}{% endblock %}

{% block body %}

    <main class="container">
        <h2 class="contact__heading">{{ 'form.title'|trans({}, 'contact') }}</h2>
        <section class="contact">


            {{ form_start(contactForm) }}
            <div class="contact__form__group">
                <div class="contact__form__group__left">
                    {{ form_row(contactForm.firstname) }}
                    {{ form_row(contactForm.lastname) }}
                    {{ form_row(contactForm.email) }}
                </div>
                <div class="contact__form__group__right">
                    {{ form_row(contactForm.message) }}
                </div>
                <div class="contact__form__group__all">
                    {{ form_row(contactForm.captcha) }}
                </div>
            </div>
            <button type="submit" class="btn btn--primary">
                {{ 'form.submit.label'|trans({}, 'contact') }}
            </button>

            {{ form_end(contactForm) }}

        </section>

    </main>

    {# {%- block form_row -%}
        {%- set widget_attr = {} -%}
        {%- if help is not empty -%}
            {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
        {%- endif -%}
        <div{% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
            {{- form_label(form) -}}
            {{- form_errors(form) -}}
            {{- form_widget(form, widget_attr) -}}
            {{- form_help(form) -}}
        </div>
    {%- endblock form_row -%} #}

{% endblock %}
