.about {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  &__description {
    width: 60%;
  }
  &__details {
    width: 40%;
    dl {
      display: flex;
      font-size: 0.9rem;
      line-height: 1.3rem;
    }

    dt {
      padding: 0 10px;
      color: $primary;
    }

    dd {
      margin: 0;
    }
  }
}

.what-i-do {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  &__heading {
    width: 100%;
  }
  &__article {
    width: 50%;
  }
  &__icon {
    font-size: 3rem;
    color: $primary;
  }
}

@media all and (max-width: 1024px) {
  .about{
    article {
      width: 100%;
    }
    aside {
      width: 100%;
    }
  }

  .what-i-do article {
    width: 100%;
  }
}