.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &__form {
    width: 100%;

    &__group {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 30px;

      &__left {
        margin-right: 14px;
        min-width: 40%
      }

      &__right {
        min-width: 40%
      }
      &__all {
        min-width: 80%
      }
    }
  }
}

@media all and (max-width: 1024px) {

  .contact__form {
    &__group {
      flex-direction: column;

      &__left {
        width: 100%;
        margin-right: 0;
      }

      &__right {
        width: 100%;
      }
      &__all {
        width: 100%;
      }
    }
  }

}