.timeline {
  width: 70%;

  &__item {
    display: flex;

    &__left-part {
      width: 35%;
      padding-right: 25px;
      text-align: right;
      word-break: break-word;
    }

    &__right-part {
      width: 65%;
      padding-left: 25px;
      padding-right: 15px;
      font-size: small;
    }

    &__divider {
      width: 1px;
      background-color: #444;

      &:before {
        content: '';
        display: block;
        margin-top: 17px;
        width: 17px;
        height: 17px;
        margin-left: -8px;
        border-radius: 10px;
        background-color: $secondary;
        opacity: .25;
      }

      &:after {
        content: '';
        display: block;
        margin-top: -13px;
        width: 5px;
        height: 5px;
        margin-left: -4px;
        background-color: black;
        border-radius: 5px;
        border: 2px solid $secondary;
      }
    }
  }
}

.skills {
  width: 30%;
}

.skill {
  margin-bottom: 80px;
  padding-right: 0;
  &__value {
    display: flex;
    justify-content: space-between;
    div {
      font-weight: bold;
      font-size: 0.8rem;
    }
  }
  &__bar {
    border: 1px solid $primary;
    height: 10px;
    border-radius: 8px;
    margin: 2px 0 20px 0;
    &__percent {
      border: 2px solid $black;
      border-radius: 9px;
      background-color: $primary;
      height: 8px;
      width: 95%;
    }
  }
}

@media all and (max-width: 1024px) {
  .timeline {
    width: 100%
  }

  .skills {
    width: 100%;
  }
}