.homepage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;


  &__heading {
    font-size: 4rem;
    margin-bottom: 15px;
    font-weight: lighter;
  }

  &__sub-heading {
    font-size: 1.3rem;
    font-weight: lighter;

    &:after {
      content: " >_";
    }
  }
}

@media all and (max-width: 1024px) {
  .homepage {
    &__heading {
      font-size: 2rem;
    }

    &__sub-heading {
      font-size: 1rem;
    }
  }
}