.legal-notices {
  &__identity {
    dl {
      display: flex;
      font-size: 0.9rem;
      line-height: 1.3rem;
    }
    dt {
      padding: 0 10px;
      color: $primary;
    }
    dd {
      margin: 0;
    }
  }
}
