.portfolio {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  &__item {
    overflow: hidden;
    margin: 10px;
    padding: 0;
    width: 30%;
    height: auto;
    img {
      width: 100%;
    }
  }
}


@media all and (max-width: 1024px) {

}