<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}{{ 'browser_tab_title'|trans([], 'base') }}{% endblock %}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:url" content="{{ 'meta_cards.url'|trans([], 'base') }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ 'meta_cards.url'|trans([], 'base') }}"/>
    <meta property="og:description" content="{{ 'meta_cards.description'|trans([], 'base') }}"/>
    <meta property="og:image" content="{{ asset('ww.png') }}"/>
    <meta name="twitter:creator" content="{{ 'meta_cards.twitter'|trans([], 'base') }}">

    <link rel="shortcut icon" type="image/ico" href="{{ asset('build/images/favicon/favicon.ico') }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/images/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/images/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('build/images/favicon/site.webmanifest') }}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

{{ include('layout/_nav.html.twig') }}

{{ include('layout/_header.html.twig') }}

{% block body %}{% endblock %}

</body>
</html>
