{% extends 'base.html.twig' %}

{% block title %}{{ 'browser_tab_title'|trans({}, 'legal_notices') }}{% endblock %}

{% block body %}

    <main class="container">
        <h2 class="legal-notices__heading">{{ 'title'|trans({}, 'legal_notices') }}</h2>
        <section class="legal-notices">
            <div class="legal-notices__identity">
                <h3>{{ 'identity.title'|trans({}, 'legal_notices') }}</h3>
                <dl>
                    <dt>{{ 'identity.website_name.term'|trans({}, 'legal_notices') }}</dt>
                    <dd>{{ 'identity.website_name.description'|trans({}, 'legal_notices') }}</dd>
                </dl>
                <dl>
                    <dt>{{ 'identity.address.term'|trans({}, 'legal_notices') }}</dt>
                    <dd>{{ 'identity.address.description'|trans({}, 'legal_notices') }}</dd>
                </dl>
                <dl>
                    <dt>{{ 'identity.owner.term'|trans({}, 'legal_notices') }}</dt>
                    <dd>{{ 'identity.owner.description'|trans({}, 'legal_notices') }}</dd>
                </dl>
                <dl>
                    <dt>{{ 'identity.publication_manager.term'|trans({}, 'legal_notices') }}</dt>
                    <dd>{{ 'identity.publication_manager.description'|trans({}, 'legal_notices') }}</dd>
                </dl>
                <dl>
                    <dt>{{ 'identity.developer.term'|trans({}, 'legal_notices') }}</dt>
                    <dd>{{ 'identity.developer.description'|trans({}, 'legal_notices')|raw }}</dd>
                </dl>
                <dl>
                    <dt>{{ 'identity.hosting.term'|trans({}, 'legal_notices') }}</dt>
                    <dd>{{ 'identity.hosting.description'|trans({}, 'legal_notices') }}</dd>
                </dl>
            </div>
            <div>
                <h3>{{ 'terms_of_use.title'|trans({}, 'legal_notices') }}</h3>
                <p>{{ 'terms_of_use.p'|trans({}, 'legal_notices') }}</p>
            </div>
            <div>
                <h3>{{ 'informations.title'|trans({}, 'legal_notices') }}</h3>
                <p>{{ 'informations.p'|trans({}, 'legal_notices')|raw }}</p>
            </div>
            <div>
                <h3>{{ 'copyright.title'|trans({}, 'legal_notices') }}</h3>
                <p>{{ 'copyright.p'|trans({}, 'legal_notices')|raw }}</p>
            </div>
            <div>
                <h3>{{ 'links.title'|trans({}, 'legal_notices') }}</h3>
                <h4>{{ 'links.outbound_links.title'|trans({}, 'legal_notices') }}</h4>
                <p>{{ 'links.outbound_links.p'|trans({}, 'legal_notices') }}</p>
                <h4>{{ 'links.inbound_links.title'|trans({}, 'legal_notices') }}</h4>
                <p>{{ 'links.inbound_links.p_1'|trans({}, 'legal_notices') }}</p>
                <ul>
                    <li>{{ 'links.inbound_links.first_point'|trans({}, 'legal_notices') }}</li>
                    <li>{{ 'links.inbound_links.second_point'|trans({}, 'legal_notices') }}</li>
                </ul>
                <p>{{ 'links.inbound_links.p_2'|trans({}, 'legal_notices') }}</p>
            </div>
            <div>
                <h3>{{ 'credits.title'|trans({}, 'legal_notices') }}</h3>
                <p>{{ 'credits.legal_notice'|trans({}, 'legal_notices') }}</p>
            </div>
        </section>
    </main>

{% endblock %}
