<header class="header">
    <figure class="header__my-picture">
        <a href="{{ asset('build/images/fabian-rupin_profile.jpg') }}" target="_blank">
            <img
                src="{{ asset('build/images/fabian-rupin_profile_mini.png') }}"
                alt="{{ 'images.profil_mini.alt'|trans([], 'base') }}">
        </a>
    </figure>
    <h1 class="header__heading">{{ 'name'|trans([], 'base') }}</h1>
    <h2 class="header__sub-heading">{{ 'job'|trans([], 'base') }}</h2>
    <h2 class="header__sub-sub-heading">{{ 'location'|trans([], 'base') }}</h2>
    <div class="header__social-links">
        <a href="{{ 'header.social-links.twitter'|trans({}, 'base') }}" target="_blank">
            <span class="fab fa-twitter"></span>
        </a>
        <a href="{{ 'header.social-links.malt'|trans({}, 'base') }}" target="_blank">
            <strong>malt</strong>
        </a>
        <a href="{{ 'header.social-links.linkedin'|trans({}, 'base') }}" target="_blank">
            <span class="fab fa-linkedin-in"> </span>
        </a>
        <a href="{{ asset('build/files/2021 - CV Fabian Rupin.pdf') }}" target="_blank">
            <strong>{{ 'cv_download'|trans([], 'base') }}</strong>
        </a>
    </div>
    <div class="header__footer">
        <a href="{{ path('legal_notices') }}">
            Mentions Légales
        </a>
    </div>
</header>
