<nav class="nav" {{ stimulus_controller('nav') }}>
    <ul data-nav-target="menu">
        <li class="nav__link">
            <a href="{{ path('homepage') }}">
                <span class="fas fa-home fa-2x"></span><br>{{ 'nav.homepage'|trans([], 'base') }}
            </a>
        </li>
        <li class="nav__link">
            <a href="{{ path('about_me') }}">
                <span class="far fa-user fa-2x"></span><br>{{ 'nav.about_me'|trans([], 'base') }}
            </a>
        </li>
        <li class="nav__link">
            <a href="{{ path('portfolio') }}">
                <span class="fas fa-briefcase fa-2x"></span><br>{{ 'nav.portfolio'|trans([], 'base') }}
            </a>
        </li>
        <li class="nav__link">
            <a href="{{ path('curriculum') }}">
                <span class="fas fa-graduation-cap fa-2x"></span><br>{{ 'nav.resume'|trans([], 'base') }}
            </a>
        </li>
        <li class="nav__link">
            <a class="reverse-hover" href="{{ path('contact') }}">
                <span class="far fa-paper-plane fa-2x"></span><br>{{ 'nav.contact'|trans([], 'base') }}
            </a>
        </li>
    </ul>
    <div data-nav-target="wrapper" data-action="click->nav#open" class="wrapper">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>

