{% extends 'email/email.base.html.twig' %}

{% block content %}
    <p>
        {{ 'email.admin.who.name'|trans({'name': contactFormDTO.name  }, 'contact')|raw }}
    </p>
    <p>
        <i>{{ contactFormDTO.message }}</i>
    </p>
    <p>
        {{ 'email.admin.who.email'|trans({'email' : contactFormDTO.email }, 'contact')|raw }}
    </p>
{% endblock %}


