{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css'), source('@styles/email.css')) %}

    <wrapper class="header">
        <container>
            <row class="collapse">
                <columns valign="middle">
                    <a href="{{ url('homepage') }}">
                        <center>
                            <img src="{{ email.image('@images/logo/ww.png') }}" class="logo">
                        </center>
                    </a>
                </columns>
                <row>
                    <columns valign="middle">
                        <h1 class="text-center">{% block title %}{% endblock %}</h1>
                    </columns>
                </row>
            </row>
        </container>
    </wrapper>

    <container>

        <spacer size="16"></spacer>

        <row>
            <columns>
                {% block content %}{% endblock %}
            </columns>
        </row>

        <row class="footer">
            <columns>
                <center>
                    <spacer size="20"></spacer>
                    {{ 'footer.send_to'|trans({'name':email.toName, 'email': emailTo}, 'email')|raw }}
                </center>
            </columns>
        </row>

    </container>

{% endapply %}
